nav {
background:  blueviolet;

}

h2 {
background-color: red;

}

.hello {
    background-color: red
}

.jumbo-holder {
    background: url(/public/assets/images/newspaper-943004_1920.jpg);
    text-align: center;
}